{margin: 0; padding: 0;}

.home{
	background-color: #F24535;
}

.home img{
	display: block;
	/* 
margin-top:17em;
	margin-bottom: 17em;
 */
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    padding:21em;
    height: auto;
}

body{
	background-color:#77E1A1;
}

header{
	background-color: white;

}

header img{
	max-width: 45%;
	padding-top: 15em;
	padding-left: 25em;
	padding-bottom: 15em;
	transform: rotate(-13deg);
}


.music{

}

.music img{
	max-width:24%;
	display: inline-block;
	padding:0;
}

.reel {
	width: 1920px;
 	overflow: hidden;
 	margin: 0;
 	height: 382.5px;
 	width: 3550px;
}

.reel img{
	max-width:25%;
	display: inline-block;
	padding:0;
}

/*keyframe animations*/

.first {
 -webkit-animation: bannermove 30s linear infinite;
    -moz-animation: bannermove 30s linear infinite;
     -ms-animation: bannermove 30s linear infinite;
      -o-animation: bannermove 30s linear infinite;
         animation: bannermove 30s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}

/*end keyframe animation*/

.promo{
	margin: 0;
}

.promo img{
	max-width:100%;
	display: inline;
	padding:0;
	min-height: 832.5px;
    min-width: 2188px;
}

footer{
	background-color:  #F24535;
}

footer img{
	max-width:5%;
	display: inline-block;
	padding: 10px;
	margin-top: 5em;
	margin-bottom: 5em;
	margin-left: 10 em;
}